@model GoTravelApplication.Model.Administrator

@{
    ViewData["Title"] = "Administrator  Login";
}




@{
    var Msg = "";
    if (ViewData["msg"] != null)
        if (ViewData["msg"].ToString() != "Fine")
            Msg = ViewData["msg"].ToString();
    if (Msg != "")
    {
        <h5 style="color:red;">@Msg</h5>
    }
}

<div class="text-center">
    <h1 class="display-4">Login Page</h1>

    <form asp-action="Login">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://empxtrack.com/wp-content/uploads/2016/04/growing_workload_anim_md_wm.gif"
                         class="img-fluid" alt="Sample image">


                    <div class="row" style="text-align:center; margin:auto;">
                        <div class="form-group" style="text-align: match-parent; margin: auto;">
                            <a asp-action="Create" class="btn btn-primary">Register</a>
                        </div>


                    </div>
                </div>
    </form>
    <div class="col-md-4" style="text-align:match-parent; margin:auto;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AdminId" />

        <div class="form-group" style="text-align: match-parent; margin: auto; color:rebeccapurple; text-size-adjust: 12px;">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group" style="text-align: match-parent; margin: auto; color: rebeccapurple; text-size-adjust: 12px; thick">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>


        <br />
        <div class="form-group" style="text-align: match-parent; margin: auto;">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>

    </div>
</div>
        </div>
    </center>
</div>






