@model GoTravelApplication.Model.Moderator

<h1>Moderator Home Page</h1>
<h4>
    Welcome @Model.UserName
</h4>

<form asp-action="OpenModeratorRequestPage" class="text-danger">
    <input type="hidden" value="@ViewData["loggedModId"]" name="id" />
    <div class="form-group">
        <input type="submit" value="Moderator Request Page" />
    </div>
</form>