@model GoTravelApplication.Model.Receptionist

<h1>Receptionist Home Page</h1><br />
<h4 style="text-align: center; margin: auto; color: rebeccapurple; text-size-adjust: 12px">
    Welcome @Model.UserName
</h4>
<br />

@{
    var Msg = "";
    if (ViewData["msg"] != null)
        if (ViewData["msg"].ToString() != "Fine")
            Msg = ViewData["msg"].ToString();
    if (Msg != "")
    {
    <h5 style="color:red;">@Msg</h5><br>
    }
}
<form asp-action="BookingDetails" class="text-danger" style="text-align: center">
    <input type="hidden" value="@Model.ReceptionistId" name="id" />
    <input type="number" min="0" name="bookId" required="required"/><br /><br />

    <div class="form-group" style="text-align: center">
        <input type="submit" value="Search Booking Id" />
    </div>
</form>
